# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Certificates and keys (SECURITY)
*.csr
*.crt
*.key
*.pem
*.p12
*.pfx
private/ 
generated/

#Certificates database and serial number
CABancoCentral/index.txt*
CABancoCentral/serial*
CAIntermediaBANELCO/index.txt*
CAIntermediaBANELCO/serial*

# Logs
logs/*.log
logs/*.jsonl

# Environment
.env
.env.local

# OS
.DS_Store
*.pyc
